footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  gap: 32px;
  background-color: var(--dark-grey);
  padding: 30px;
}

footer p {
  color: var(--light-text);
}

footer img {
  height: 50px;
  cursor: pointer;
}
